@import "src/game/styles/memory-variables";

.memory-grid {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard syntax */


  & > .memory-grid-row {

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard syntax */

    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    & > .memory-grid-cell {
      margin: 6px;
      padding: 0;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none;    /* Firefox */
      -ms-user-select: none;     /* IE10+/Edge */
      user-select: none;         /* Standard syntax */

      & > .memory-grid-cell-content {

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE10+/Edge */
        user-select: none;         /* Standard syntax */

        cursor: pointer;
        margin: auto;
        padding: 0;
        width: 12vw;
        height: 12vh;
        min-width: 20px;
        min-height: 20px;
        max-width: 200px;
        max-height: 200px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        font-size: 2em;

        & > .memory-grid-cell-content-text {
          margin: auto;
          padding: 0;

          -webkit-user-select: none; /* Safari */
          -moz-user-select: none;    /* Firefox */
          -ms-user-select: none;     /* IE10+/Edge */
          user-select: none;         /* Standard syntax */

        }

        &.memory-grid-cell-content-0 {
          color: #ffffff;
          background: #444444;
        }

        &.memory-grid-cell-content-1 {
          color: #ffffff;
          background: #DC143C;
        }

        &.memory-grid-cell-content-2 {
          color: #ffffff;
          background: #228B22;
        }

        &.memory-grid-cell-content-3 {
          color: #ffffff;
          background: #4169E1;
        }

        &.memory-grid-cell-content-4 {
          color: #00008B;
          background: #87CEEB;
        }

        &.memory-grid-cell-content-5 {
          color: #ffffff;
          background: #663399;
        }

        &.memory-grid-cell-content-6 {
          color: #000000;
          background: #FFA500;
        }

        &.memory-grid-cell-content-7 {
          color: #ffffff;
          background: #008080;
        }

        &.memory-grid-cell-content-8 {
          color: #000000;
          background: #FF69B4;
        }

      }

    }

  }

}
