@import "../../styles/chess-variables";

.chess-piece {

  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard syntax */

  background-color: #222222;

  & > .chess-piece-frame {
    margin: 0;
    padding: 0;

    max-width: 7vw;
    max-height: 7vh;

    //width: 100%;
    //height: auto;
    //max-height: 100%;

    svg {
      fill: #ffffff;
    }

  }

  & > .chess-piece-type {
    margin: 0;
    padding: 0;

    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;

    //max-width: 96px;
    //width: 100%;
    //height: auto;
    //max-height: 100%;
  }

  & > .chess-piece-loader {
    margin: 0;
    padding: 0;

    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;

    //max-width: 96px;
    //width: 100%;
    //height: auto;
    //max-height: 100%;
  }

}
