@import "../../styles/chess-variables";

.chess-piece {

  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard syntax */

  width: 11vw;
  height: 11vw;
  max-width: 8vh;
  max-height: 8vh;

  & > .chess-piece-frame {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    //width: 100%;
    //height: auto;
    //max-height: 100%;

  }

  & > .chess-piece-type {

    vertical-align: top;
    box-sizing: border-box;
    line-height: 0;
    border: 0;
    margin: 0;
    padding: 0;

    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    //max-width: 96px;
    //width: 100%;
    //height: auto;
    //max-height: 100%;

    animation: scale-down 0.3s ease forwards;
    transition: transform 0.3s ease;

    @keyframes scale-down {
      from {
        transform: scale(1.15);
      }
      to {
        transform: scale(1);
      }
    }

  }

  & > .chess-piece-loader {
    margin: 0;
    padding: 0;

    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;

    //max-width: 96px;
    //width: 100%;
    //height: auto;
    //max-height: 100%;
  }

}
