@import "src/game/styles/memory-variables";

.leaderboard-view {

  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;

  margin: 100px 0 0 0;
  padding: 100px 100px;

  color: #F5F5F5;
  background-color: #444444;

  & > .leaderboard-view-list {

    h3 {
      text-align: center;
    }

    & > .main-view-change-cards {
      margin: 16px auto 6px auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: stretch;
      justify-content: stretch;
      flex-direction: row;

      & > .main-view-change-cards-button {
        margin: 12px;
      }

      & > .main-view-change-cards-button-selected {
        background-color: #333333;
      }

    }

    & > .leaderboard-view-list-item {

      width: 100%;
      max-width: 100vw;
      box-sizing: border-box;
      display: flex;
      //flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: stretch;
      justify-items: center;
      flex-direction: row;

      & > .leaderboard-view-list-item-index {
        min-width: 50px;
        padding: 12px;
        flex-shrink: 0;
        text-align: right;
      }

      & > .leaderboard-view-list-item-name {
        padding: 12px;
        //min-width: 700px;
        flex-grow: 1;
        overflow: hidden;
      }

      & > .leaderboard-view-list-item-score {
        padding: 12px;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: right;
        //max-width: 100px;
      }

      &.leaderboard-view-list-item-mine {
        font-weight: bold;
        color: #222222;
        background-color: #F5F5F5;
      }

    }

  }


}