@import "../../styles/chess-variables";

.chess-grid-cell {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard syntax */

  & > .chess-grid-cell-content {
    box-sizing: border-box;
    border: 0;

    overflow: hidden;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard syntax */

    cursor: pointer;
    margin: auto;
    padding: 1px;
    width: auto;
    //height: 12vh;
    min-width: 20px;
    min-height: 20px;
    max-width: 200px;
    max-height: 160px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    font-size: 2em;

    & > .chess-grid-cell-content-text {
      box-sizing: border-box;
      margin: auto;
      padding: 0;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none;    /* Firefox */
      -ms-user-select: none;     /* IE10+/Edge */
      user-select: none;         /* Standard syntax */

    }

  }

  &.chess-grid-cell-can-move {
    border-width: 1px;
    border-style: solid;
  }

  &.chess-grid-cell-can-move-here {
    border-width: 1px;
    border-style: solid;
  }

}