@import "../../../styles/chess-variables";

.main-chess-view {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-direction: row;

  & > .main-chess-view-buttons {
    margin-top: 48px;
    flex-shrink: 0;
  }

  & > .main-chess-view-game {

    padding: 12px 8px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;

    & > .main-chess-view-game-content {
      padding: 0;
      margin: 0;
      text-align: right;

      & > .main-chess-view-game-header {
        text-align: center;
        margin: 0;
        padding: 0;

        & > h1 {
          margin: 12px 0;
          padding: 0;
        }

      }

      & > .main-chess-view-init-screen {

        position: absolute;
        top: 5em;
        left: 0;
        right: 0;
        width: 300px;
        max-width: 90vw;

        padding: 24px 32px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        justify-content: stretch;
        flex-direction: row;

        & > .main-chess-view-form {

          & > .main-chess-view-name {
            margin: 0 16px 0 0;

            & > .main-chess-view-name-label {
              padding-right: 8px;
            }

            & > .main-chess-view-name-field {
              border: 0;
              margin: 0;
              padding: 12px;
            }

          }

          & > .main-chess-view-buttons {

            & > .main-chess-view-game-mode {
              text-align: left;
              margin: 32px auto 0 auto;
            }

            & > .main-chess-view-start-button {
              margin: 32px auto;
              min-width: 10em;
            }


          }

        }

      }

      & > .main-chess-view-game-footer {
        margin: 16px 0 6px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        justify-content: stretch;
        flex-direction: row;

        & > .main-chess-view-buttons {
          margin: 0 16px 0 8px;
        }

        & > .main-chess-view-score {
          margin: 6px 12px;
          font-size: 22px;
        }

        & > .main-chess-view-game-ended-section {
          font-size: 1.2em;
          padding: 8px 14px;
          margin: 8px 8px;
          box-sizing: border-box;
          text-align: center;
        }

        & > .main-chess-view-promotion-options {
          font-size: 1em;
          padding: 0 0 20px 0;
          box-sizing: border-box;
        }

      }

      & > .main-chess-view-change-type {
        margin: 16px auto 6px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        justify-content: stretch;
        flex-direction: row;

        & > .main-chess-view-change-type-button {
          margin: 12px;
        }

      }

    }


  }

}


.main-chess-view-6b {
  flex-shrink: 0;
  margin: 48px auto;

  & > iframe {
    display: block;
    border: 2px solid #333;
    min-width: 90vw;
    max-width: 100vw;
    min-height: 48px;
    margin: 0 auto;
    width: 100vh;
    height: 150px;
    background: #000;
    pointer-events: painted;
  }

}
