@import "../../../styles/chess-variables";

.main-view {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-direction: row;

  & > .main-view-buttons {
    margin-top: 48px;
    flex-shrink: 0;
  }

  & > .main-view-game {

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;

    & > .main-view-game-content {
      margin: 4px 16px;
      text-align: right;

      & > .main-view-game-header {
        text-align: center;
        margin: 0;
        padding: 0;

        & > h1 {
          margin: 12px 0;
          padding: 0;
        }

      }

      & > .main-view-game-footer {
        margin: 16px 0 6px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        justify-content: stretch;
        flex-direction: row;

        & > .main-view-name {
          margin: 0 16px 0 8px;

          & > .main-view-name-field {
            margin: 0;
            padding: 12px;
            background-color: #f0f0f0;
          }
        }

        & > .main-view-buttons {
          margin: 0 16px 0 8px;
        }

        & > .main-view-score {
          margin: 6px 12px;
          font-size: 22px;
        }

      }

      & > .main-view-change-cards {
        margin: 16px auto 6px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        justify-content: stretch;
        flex-direction: row;

        & > .main-view-change-cards-button {
          margin: 12px;
        }

        & > .main-view-change-cards-button-selected {
          background-color: #444444;
        }

      }

      & > .main-view-change-type {
        margin: 16px auto 6px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        justify-content: stretch;
        flex-direction: row;

        & > .main-view-change-type-button {
          margin: 12px;
        }

        & > .main-view-change-type-button-selected {
          background-color: #444444;
        }

      }

    }


  }

}


.main-view-6b {
  flex-shrink: 0;
  margin: 96px auto;

  & > iframe {
    display: block;
    border: 2px solid #333;
    min-width: 90vw;
    max-width: 100vw;
    min-height: 48px;
    margin: 0 auto;
    width: 100vh;
    height: 150px;
    background: #000;
    pointer-events: painted;
  }

}
